*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root {
  --text: #030303;
  --back: #c9e5f2;
  --border: 1rem;
  --font: monospace, sans-serif;
  --hover: rgb(59, 59, 59);
}

/* GENERAL */

main {
  display: flex;
  justify-self: center;
  align-self: center;

  margin: 3rem 0;
}

.box,
.sidebox,
.title,
.text,
.button {
  font-family: var(--font);
  color: var(--text);
}

/* TWO BOXES IN SCREEN */
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 20rem;
  width: 18rem;
  border-radius: var(--border);

  position: relative;
}

.box.one {
  background-color: var(--back);
}

.box.two {
  background-color: #ff968a;
}

.box.three {
  background: #ffd1ff;
}

.box.four {
  background: #d1f1d4;
}

.box.five {
  background: #e8dbd3;
  height: 21.5rem;
}

.box.five .head .close {
  top: 1.5rem;
}
.box.five .head .title {
  top: 1.5rem;
}

.sidebox {
  display: flex;
  justify-content: center;

  width: 16rem;

  padding: 1rem;
  font-size: 0.5rem;
  background: #e8dbd3;
  border-radius: 0.7rem;

  margin: 1rem 0;
}

/* WHERE THERE IS A 'HEADER' */

.head {
  display: flex;
  align-items: center;
}

.close {
  font-weight: bolder;
  font-size: 1rem;

  font-style: normal;

  border: 1px solid var(--text);

  position: absolute;
  right: 2rem;
  border-radius: 50%;

  padding: 0 0.3rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;

  position: absolute;
  left: 2rem;
}

/* PLACE WHERE THE NUMBER IS SHOW */
.placenumber {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2.3rem;

  background: #000;
  border-radius: 50%;

  color: #e8dbd3;
  height: 8rem;
  width: 8rem;

  font-size: 2.8rem;
  font-weight: bold;
}

.placenumber:hover,
.placenumber:focus {
  background: var(--hover);
}

/* BUTTONS TO CLICK */
.button-side {
  display: flex;
  justify-content: center;
}

.button {
  all: unset;
  width: fit-content;

  background: var(--text);
  color: var(--back);

  font-size: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0;

  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
}

.button:hover,
.button:focus {
  background: var(--hover);
}

#input-number {
  padding: 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
}

/* swiper */
.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: auto;
}
