* {
	padding:0;
	margin:0;
	box-sizing: content-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	
}

.cube {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;

	animation: animate 10s linear infinite;
}

@keyframes animate {
	0% 
	{
		transform: rotateX(-10deg) rotateY(0);
	}
	100% {
		transform: rotateX(-20deg) rotateY(360deg);
	}
}

.cube div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}


.cube div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: linear-gradient(#7c7c7c, #afaeae, #f0f1f1);

	transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.cube div span::after {
	content: 'Welcome to the spinning cube world and whatever';
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, -25%);
	color: black;

	height: 200px;
	width: 100px;
}

.top {
	position: absolute;
	top: 0;

	width: 200px;
	height: 200px;
	background: radial-gradient(closest-corner, #999797, #7c7c7c);

	transform: rotateX(90deg) translateZ(100px);
}

.top::before {
	content: '';
	position: absolute;
	top: 0;
	width: 200px;
	height: 200px;
	background: radial-gradient(closest-corner,#f0f1f1, #afaeae );
	filter: blur(30px);

	transform: translateZ(-250px);
}