*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

:root {
    --back: rgb(6, 11, 34);
    --text: white;
    --shade: 80%;
}

header {
    background: var(--back);
    opacity: var(--shade);
    color: var(--text);

    display: flex;
    align-items: flex-end;
    flex-direction: column;


    width: 100%;
    height: 3.5rem;
}

.head {
    padding: 1.5rem 2rem;
}



.head-back {
    image-rendering: optimizeQuality;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    height: 150vh;

    background-image: linear-gradient(rgba(202, 193, 193, 0.527),
    rgba(0, 0, 0, 0.5)) , url("https://78.media.tumblr.com/e27f064519cab4bbb7f20aeee5e153f5/tumblr_oljdqxUX2b1u7ns0go1_1280.jpg");

}


.nature-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--text);
    height: 3rem;
    width: 100%;
    z-index: 99;

    left: 50%;
    top: 50%;
    transform: translate(-48%, 50%);
}

.ask-place {
    display: flex;
    gap: 2rem;
}

.text, .ask {
    background: var(--back);
    opacity: var(--shade);
    border-radius: 0.5rem;

}


.text:focus, .text:hover,
.ask:focus, .ask:hover {
    background: white;
    color: var(--back);
    opacity: 60%;
}

.text {
    padding: 2rem 8rem;
    margin-bottom: 2.5rem;
}

.ask {
    padding: 2rem 4rem;
    text-decoration: none;
    color: var(--text);
}

.text-big {
    background: var(--back);
    opacity: var(--shade);
    color: var(--text);
    font-weight: 1.3rem;
    padding: 5rem 4rem;
}

#yes-page {
    padding-bottom: 4rem;
    
    height: 100vh;
    background-image: linear-gradient(rgba(202, 193, 193, 0.527),
    rgba(0, 0, 0, 0.5)) , url("http://78.media.tumblr.com/e682eecef2145d1c790c7b2d05f854b0/tumblr_odyxbjv5LI1u7ns0go1_1280.jpg");
    image-rendering: optimizeQuality;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
}