*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Helvetica Neue', sans-serif, sans-serif;
}

:root {
  --baseshadow: #e4e3e33a;
  --maincolor: black;
  --basepadd: 0.5rem;
  --bordermain: 0.7rem;
}

/* GENERAL------- */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  background-image: url('https://images.unsplash.com/photo-1486512696050-930b2d89cb4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

a {
  text-decoration: none;
  color: rgb(70, 58, 124);
}

a:hover {
  font-weight: bold;
}

svg {
  width: 1rem;
}

/* TITLES AND TEXT */

h2 {
  margin-bottom: 1rem;
}
/* HEADER-------------- */

.skip-link {
  display: none;
}

.skip-link,
header .container,
nav ul li,
h2 {
  background: var(--baseshadow);
  padding: var(--basepadd);
  border-radius: 0.5rem;
}

header {
  margin-bottom: 2rem;
}

header .container {
  padding: 2rem;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* NAV------------- */
nav {
  display: flex;
  justify-content: center;

  margin-bottom: 2rem;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 9rem);
  gap: 1rem;

  list-style-type: none;
}

nav ul > li {
  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 1em;
}

/* LISTS */

ul li {
  list-style-type: none;
}

/* ABOUT--------- */

.container {
  margin-bottom: 1rem;
  padding: 1rem;
}
