*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

:root{
    --blue: #A6ABEA;
    --white: #FFFF;
}

@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800;900&display=swap');
}


html {
    position: relative;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;

}

body {
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(82.29% 162.74% at 69.76% 48.44%,
    #201672 13.02%, #5244BC 67.19%, #6E64BB 94.97%, 
    #7268BB 100%);
}

.subtitle {
    font-size: calc(1em + 0.7vw);
}

.title {
    width: calc(12rem + 12vw);
}

main {
    z-index: 9999;
    position: relative;
}

decor {
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 0;
}

.decor .bolhaT {
    position: fixed;
    top: 30px;
    right: max(10%, 40px);

    width: min(40%, 14rem);
}

.decor .bolhaB {
    position: fixed;
    bottom: 30px;
    right: min(40px, 100px);

    width: min(40%, 11rem);

}

.decor .espiral {
    position: fixed;
    bottom: 0;
    left: 0;

}

.decor .sexaT {
    position: fixed;
    top: 90px;
    left: 2%;
    width: min(30%, 13rem);;
}

.decor .sexaB {
    position: fixed;
    bottom: 200px;
    left: 9%;
    width: min(30%, 13rem);

}


@media screen and (min-width: 680px) {
    .decor .sexaT {   
        left: 30%;
        top: 140px;
    }
    
    .decor .sexaB {
        left: 35%;
        bottom: 120px;
    }
    
}