main .primeiraPagina {
    height: 100vh;
    width: 100vw;


    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-bottom: 10rem;

}

.content {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 76vh;
   


}


.content .title {
    display: flex;

    flex-direction: column;

    width: 90%;
    max-width: 50rem;
    margin-top: 6rem;

    gap: 0.4rem;

}


.content .title img:first-child {
    align-self: flex-start;
}

.content .title img:last-child {
    align-self: flex-end;
  
}

#bigLogo {
    display: none;
}

.content .subtitle {
   
    color: var(--blue);
    font-size: calc(1em + 0.7vw);

    margin-top: 1rem;
    max-width: 50rem;
    text-transform: uppercase;

}

.content  .text {

    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: var(--white);
    font-size: calc(1em + 0.9vw);
    max-width: 50rem;
}

#scrolldown {
    position: absolute;
    bottom: 1.2rem;
    animation-name: moveud;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes moveud {
    0% { bottom: 1.5rem;}
    10% { bottom: 2rem;}
}


#scrolldown:hover {
    cursor: pointer;
}


@media screen and (min-width: 680px) {

    .content {
        display: grid;
        grid-template-columns: auto 70%;
        gap: 10%;
        align-items:normal;

        margin-top: 7%;
        

    }

    #c1 {
        order: 1;
    }

    #c2 {
        order: 2;
    }

    .content .title {
        display: none;
    }

    #bigLogo {
        display: flex;
        width: min(100%, 200rem);
        align-items: flex-start;
    }

}

.content .calendar {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding-right: 1rem;
   



}

.calendar img {
    width: calc(7.6rem + 2vw);
}

.calendar .data-calendario {
    position: absolute;
    top: 50%;
    left: 0;
    font-weight: 900;
    font-size: calc(0.9em + 1vw);
    color: var(--white);

}