*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --preto: #000;
    --primaria: rgb(0, 0, 0);
    --secundaria: #fdfdfd;
}



body {
    /* background: #a9a2d4; */

    background-image: linear-gradient(-220deg,  #7172a0 0%,
    #8c91c0 12%, #65689f 25%, #606897 100%, #d1dbf3 0%);

}

header {
    display: flex;
    justify-content: space-between;
    

    font-weight: 900;
    color: var(--primaria);
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-right: 2rem;

    
    background: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px );

}


header .title span:first-child {
    font-weight: 500;
}

.title span {
    margin-left: 0.5rem;
}

#sincronizar:hover {
    opacity: 60%;
    cursor: pointer;
}

