body {
    height: 100vh;
    padding-bottom: 0;
}

main {
    display: flex;
    position: relative;
    justify-content: center;

    margin-top: 6rem;

    color: var(--secundaria);
    font-weight: 700;
    letter-spacing: 0.3em;
}

.box {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: var(--preto);
    gap: 1rem;

    margin-bottom: 2.5rem;
    padding: 1rem 1.5rem;

    /* background: rgba(255, 255, 255, 0.089); */
    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 8px 32px 0 rgba(47, 50, 83, 0.377);
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box a {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.4rem;
    background: var(--secundaria);
    color: var(--primaria);
    border-radius: 50%;

    width: 2.5rem;
    height: 2.5rem;

    font-size: 2rem;
}

.box:hover {
    opacity: 70%;
    cursor: pointer;
}
