body {
    height: 100vh;
    padding-bottom: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: 3rem;

    color: var(--secundaria);
    font-weight: 700;
    letter-spacing: 0.3em;
}


.user {

    color: var(--primaria);
    
    width: 70%;
    max-width: 27rem;
    padding: 1rem 1.5rem;

    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 8px 32px 0 rgba(47, 50, 83, 0.377);
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.user-name {
    font-size: 0.75em;
}

.login-nome {
    font-size: 0.7em;
    padding: 0.5rem 0;
}

.user .buttons {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.date {
    font-size: 0.6em;
}

.box {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: var(--preto);
    gap: 1rem;

    margin-bottom: 2.5rem;
    padding: 0.6rem 1.5rem;
    font-size: 0.8em;

    width: 70%;
    max-width: 27rem;

    /* background: rgba(255, 255, 255, 0.089); */
    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 8px 32px 0 rgba(47, 50, 83, 0.377);
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box a {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.4rem;
    background: var(--secundaria);
    color: var(--primaria);
    border-radius: 50%;

    width: 2rem;
    height: 2rem;

    font-size: 2rem;
}

.box:hover {
    opacity: 70%;
    cursor: pointer;
}
