:root {
    --preto: #000;
    --primaria: rgb(0, 0, 0);
    --secundaria: #fdfdfd;
}

body {
    padding-bottom: 2rem;
}

header .back {
    font-size: 1.6rem;
}

header .back:hover {
    opacity: 70%;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

.calendario {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.5rem;

    min-width: 23rem;
    max-width: 24rem;
    padding: 1rem;
    margin-top: 2rem;

    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 8px 32px 0 rgba(47, 50, 83, 0.377);
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box-dia {
    display: flex;
    position: relative;

}

.box-dia:not(:last-child) {
    border-bottom: 0.55555px solid var(--primaria);
}

.dia {
    display: flex;
    position: relative;
    font-size: 0.8em;
    font-weight: 900;
    color: var(--secundaria);
    width: 9rem;
    min-height: 6rem;
}


.box-rota {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    min-height: 3rem;
    width: 100%;


    font-weight: 900;
    padding: 0.6rem 0;

   
}